In [10]:
# creating a list of 1,000,000 salaries ranging from 50,000 to 150,000

import random

random.randint(50_000, 150_000)
salary_list = [random.randint(50_000, 150_000) for _ in range(1_000_000)]

**Checking the speed between regular libraries and numpy**

In [11]:
import statistics

In [12]:
%%timeit
statistics.mean(salary_list)

237 ms ± 12.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [14]:
import numpy as np

In [15]:
%%timeit
np.mean(salary_list)

54.2 ms ± 856 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Using Numpy

In [16]:
import numpy as np

Working with numpy array

In [17]:
my_array = np.array([1,2,3,4])

In [20]:
my_array.mean()

np.float64(2.5)

In [21]:
# Job Titles
job_titles = np.array(['Data Analyst','Data Scientist','Data Enginner','Machine Learning Enginer'])
# Base Salaries
job_salaries = np.array([60_000, 80_000, 75_000, 90_000])
#Bonus Rates
bonus_rates = np.array([.05, .1, .08, .12])

In [22]:
total_salaries = job_salaries *(1 + bonus_rates)
total_salaries

array([ 63000.,  88000.,  81000., 100800.])