In [2]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

In [3]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

In [4]:
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## Sampling Data 
**Using the sample()**

In [7]:
df.sample(10)   # Displays a random sample of 10 values

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
468327,Data Engineer,Data Engineer,Norway,via LinkedIn,Full-time,False,Norway,2023-10-06 14:25:00,True,False,Norway,None,NaN,NaN,StaffHost digital,"['sql', 'python', 'azure', 'aws', 'gcp', 'snow...","{'analyst_tools': ['power bi', 'tableau', 'alt..."
204775,Data Analyst,Business Data Analyst (Healthcare),"Pennsylvania Furnace, PA",via KSNT Jobs,Full-time,False,"New York, United States",2023-08-23 22:00:24,False,True,United States,None,NaN,NaN,Cognizant Technology Solutions,"['sql', 'sql server', 'oracle', 'azure', 'aws'...","{'analyst_tools': ['excel'], 'cloud': ['oracle..."
125738,Data Scientist,Power Platform Developer/Data Scientist,"Washington, DC",via ZipRecruiter,Full-time,False,"New York, United States",2023-03-11 08:04:37,True,False,United States,None,NaN,NaN,IBM Careers,"['power bi', 'dax']","{'analyst_tools': ['power bi', 'dax']}"
233401,Data Analyst,Intern Finance and Data Analysis,"Madrid, Spain",via BeBee,Internship,False,Spain,2023-08-18 07:26:38,False,False,Spain,None,NaN,NaN,Flix SE,None,None
559503,Business Analyst,Salesforce Analyst,"Tipperary, Ireland",via BeBee Ireland,Full-time,False,Ireland,2023-09-30 04:34:33,False,False,Ireland,None,NaN,NaN,FRS Recruitment,"['sql', 'excel', 'tableau', 'power bi']","{'analyst_tools': ['excel', 'tableau', 'power ..."
619800,Senior Data Engineer,Senior Data Engineer,Anywhere,via LinkedIn,Full-time,True,Turkey,2023-06-02 12:50:32,False,False,Turkey,None,NaN,NaN,Talentown Recruitment Agency - IT,"['sql', 'nosql', 'python', 'java', 'c++', 'sca...","{'cloud': ['gcp'], 'libraries': ['airflow'], '..."
358908,Data Scientist,Data Scientist,"La Vergne, TN",via Recruit.net,Full-time,False,"Illinois, United States",2023-01-16 23:42:37,False,False,United States,None,NaN,NaN,Assurant,"['r', 'python', 'julia', 'matlab', 'pytorch', ...","{'libraries': ['pytorch', 'tensorflow'], 'prog..."
101356,Data Scientist,Staff Data Scientist,"San Bruno, CA",via The Muse,Full-time,False,"California, United States",2023-01-12 00:04:52,False,True,United States,None,NaN,NaN,Walmart,"['sql', 'nosql', 'python', 'r', 'go', 'java', ...","{'analyst_tools': ['tableau', 'excel', 'looker..."
566272,Data Scientist,Data Scientist,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",via BeBee Malaysia,Full-time,False,Malaysia,2023-01-17 04:59:09,False,False,Malaysia,None,NaN,NaN,FuseMachines,None,None
602170,Data Engineer,Data Engineer,"Edinburgh, UK",via LinkedIn,Full-time,False,United Kingdom,2023-05-11 09:23:30,False,False,United Kingdom,None,NaN,NaN,Smart Data Foundry,"['python', 'sql', 'cassandra', 'databricks', '...","{'cloud': ['databricks', 'aws'], 'databases': ..."

In [ ]:
df.sample(10, random_state=42)  # Locks the sample() to display the sample values everytime

## Copying Data
**Using the copy()**

In [8]:
df_original = dataset['train'].to_pandas()

In [9]:
df_altered = df_original.copy()

In [ ]:
# Creates a new object with changes not reflected to the original
print(f'Original: {id(df_original)} Altered: {id(df_altered)}')

Original: 140150702211856 Altered: 140151554931856