<a href="https://colab.research.google.com/github/okiromosh/Learning-Python-Data/blob/main/Python_Data_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+3

5

#Cleaning Data

Given data: In given data, it defines job_skills and job_date as strings instead of list and datetime

In [1]:
data_science_jobs = [
    {'job_title':'Data Scientist',
     'job_skills':"['Python','SQL','Machine Learning']",
     'job_date': '2023-05-12'},
    {'job_title':'Data Enginner',
     'job_skills':"['AWS','Python','Tensorflow']",
     'job_date': '2023-05-18'},
    {'job_title':'Data Analyst',
     'job_skills':"['Python','Data Analysis','SQL',]",
     'job_date': '2023-05-06'}
]

**Cleaning job_date first**

In [2]:
from datetime import datetime

In [5]:
datetime.now()

datetime.datetime(2025, 4, 30, 12, 23, 21, 141748)

In [6]:
data_science_jobs[0]

{'job_title': 'Data Scientist',
 'job_skills': "['Python','SQL','Machine Learning']",
 'job_date': '2023-05-12'}

In [12]:
test_date = data_science_jobs[0]['job_date']
test_date

'2023-05-12'

In [10]:
type(data_science_jobs[0]['job_date'])

str

**Using strptime (string parse time) to extract form string a datetime format**

In [13]:
print(datetime.strptime(test_date,'%Y-%m-%d'))

2023-05-12 00:00:00

**Replacing in the list**

In [14]:
for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')

In [15]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python','SQL','Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Enginner',
  'job_skills': "['AWS','Python','Tensorflow']",
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['Python','Data Analysis','SQL',]",
  'job_date': datetime.datetime(2023, 5, 6, 0, 0)}]

**Cleaning job_skills**

Using ast (Abstract Syntax Trees)

In [16]:
import ast

In [17]:
for job in data_science_jobs:
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [18]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Enginner',
  'job_skills': ['AWS', 'Python', 'Tensorflow'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['Python', 'Data Analysis', 'SQL'],
  'job_date': datetime.datetime(2023, 5, 6, 0, 0)}]